@import "tailwindcss";

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    display: none; /* Hide scrollbar completely */
}

/* Hide scrollbar thumb completely */
::-webkit-scrollbar-thumb {
    display: none;
}
